/* DATEI: format.css */
h1 {
   color: red;
   background-color: yellow;
}

h2 {
   color: blue;
   font-size: 20;
}

h3 {
   color: blue;
   font-size: 20;
}

body {
   background-color: grey;
   font-family: Arial;
}

th{
   border: solid;
   border-color: yellow;
   background-color: blue;
   color: yellow;
   
}

table{
   width: 60%;
   margin: auto;
   border: solid;
   border-collapse: collapse;

}

td{
   border: solid;

}






p {

   text-align: center;
}

ol {

   list-style-type: square;

}

.box{
   
      border: 1px solid;
      padding: 5px;
      width: 200px;
      background-color: yellow;
      

}




